In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataset=pd.read_csv("kidney_disease.csv")

In [3]:
df=dataset.copy()

In [5]:
df.shape

(400, 26)

In [6]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [7]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
count,400.000000,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,199.500000,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,115.614301,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,0.000000,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,99.750000,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,199.500000,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,299.250000,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,399.000000,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             391 non-null    float64
 2   bp              388 non-null    float64
 3   sg              353 non-null    float64
 4   al              354 non-null    float64
 5   su              351 non-null    float64
 6   rbc             248 non-null    object
 7   pc              335 non-null    object
 8   pcc             396 non-null    object
 9   ba              396 non-null    object
 10  bgr             356 non-null    float64
 11  bu              381 non-null    float64
 12  sc              383 non-null    float64
 13  sod             313 non-null    float64
 14  pot             312 non-null    float64
 15  hemo            348 non-null    float64
 16  pcv             330 non-null    object
 17  wc              295 non-null    object
 18  rc              270 non-null    object
 19  htn             398 non-null    object
 20  dm              398 non-null    object
 21  cad             398 non-null    object
 22  appet           399 non-null    object
 23  pe              399 non-null    object
 24  ane             399 non-null    object
 25  classification  400 non-null    object
dtypes: float64(11), int64(1), object(14)
memory usage: 81.4+ KB

In [9]:
df['id'].duplicated().sum()
#checking duplicate rows

0

In [14]:
df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [12]:
df.duplicated().sum()
#checking the duplicates without id

0

In [13]:
df.isnull().sum()
#checking the no of

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [15]:
#data type of column pcv,wc and rc should be numeric, 
#but we have these columns as 'object'

# filling the missing values

In [16]:
# fill null values by mean
#age
df['age'].fillna(df['age'].mean(), inplace=True)
df['age'].isnull().sum()

0

In [17]:
#filling bp by median
#bcz while doing eda we saw that 80 bp is coming many times
df['bp'].fillna(df['bp'].median(), inplace=True)
df['bp'].isnull().sum()

0

In [18]:
# we fill missing values by mean
df['sg'].fillna(df['sg'].mean(), inplace=True)
df['sg'].isnull().sum()

0

In [19]:
df['al'].isnull().sum()

46

In [20]:
print('mean of al : ',df['al'].mean())
print('median of al : ',df['al'].median())

mean of al :  1.0169491525423728
median of al :  0.0

In [21]:
df['al'].value_counts()

0.0    199
1.0     44
2.0     43
3.0     43
4.0     24
5.0      1
Name: al, dtype: int64

In [22]:
# fill null values by median
df['al'].fillna(df['al'].median(), inplace=True)
df['al'].isnull().sum()

0

In [23]:
#su
df['su'].value_counts()

0.0    290
2.0     18
3.0     14
4.0     13
1.0     13
5.0      3
Name: su, dtype: int64

In [24]:
# filling missing values in 'su' by median
df['su'].fillna(df['su'].median(), inplace=True)
df['su'].isnull().sum()

0

In [25]:
#rbc
df['rbc'].value_counts()

normal      201
abnormal     47
Name: rbc, dtype: int64

In [26]:
df['rbc'].mode()[0]

'normal'

In [27]:
df['rbc'].fillna(df['rbc'].mode()[0], inplace=True)
df['rbc'].isnull().sum()

0

In [28]:
#pc
df['pc'].value_counts()

normal      259
abnormal     76
Name: pc, dtype: int64

In [29]:
# null values replaced by mode 
df['pc'].fillna(df['pc'].mode()[0] , inplace=True)
df['pc'].isnull().sum()

0

pcc

In [30]:
df['pcc'].value_counts()

notpresent    354
present        42
Name: pcc, dtype: int64

In [31]:
df['pcc'].fillna(df['pcc'].mode()[0] ,inplace = True)
df['pcc'].isnull().sum()

0

ba

In [32]:
df['ba'].value_counts()

notpresent    374
present        22
Name: ba, dtype: int64

In [33]:
df['ba'].fillna(df['ba'].mode()[0],inplace = True)
df['ba'].isnull().sum()

0

bgr

In [34]:
df['bgr'].fillna(df['bgr'].median(), inplace=True)
df['bgr'].isnull().sum()

0

bu

In [35]:
df['bu'].fillna(df['bu'].mean(), inplace=True)
df['bu'].isnull().sum()

0

sc ,sod,pot,hemo

In [36]:
df['sc'].fillna(df['sc'].mean(),inplace=True)
df['sc'].isnull().sum()

0

In [37]:
df['sod'].fillna(df['sod'].mean(), inplace=True)
df['sod'].isnull().sum()

0

In [39]:
df['pot'].fillna(df['pot'].mean(), inplace=True)
df['pot'].isnull().sum()

0

In [40]:
df['hemo'].fillna(df['hemo'].mean(), inplace=True)
df['hemo'].isnull().sum()

0

# Before imputation we have to change the datatype of some data

For "pcv"

In [41]:
df['pcv'].dtype

dtype('O')

In [42]:
df['pcv'] = pd.to_numeric(df['pcv'], errors='coerce')
df['pcv'].dtype

dtype('float64')

In [43]:
df['pcv'].describe()

count    329.000000
mean      38.884498
std        8.990105
min        9.000000
25%       32.000000
50%       40.000000
75%       45.000000
max       54.000000
Name: pcv, dtype: float64

In [44]:
df['pcv'].fillna(df['pcv'].mean(), inplace=True)
df['pcv'].isnull().sum()

0

For "wc" datatype is 'object' then we have to convert it first and then we can change missing values.

In [45]:
df['wc'].dtype

dtype('O')

In [46]:
df['wc'] = pd.to_numeric(df['wc'], errors='coerce')
df['wc'].dtype

dtype('float64')

In [47]:
df['wc'].describe()

count      294.000000
mean      8406.122449
std       2944.474190
min       2200.000000
25%       6500.000000
50%       8000.000000
75%       9800.000000
max      26400.000000
Name: wc, dtype: float64

In [48]:
df['wc'].fillna(df['wc'].mean(), inplace=True)
df['wc'].isnull().sum()

0

For "RC" datatype is 'object' then first change it to numeric and replace null values by mean of median

In [49]:
df['rc'].dtype

dtype('O')

In [50]:
df['rc'] = pd.to_numeric(df['rc'], errors= 'coerce')
df['rc'].dtype

dtype('float64')

In [51]:
df['rc'].describe()

count    269.000000
mean       4.707435
std        1.025323
min        2.100000
25%        3.900000
50%        4.800000
75%        5.400000
max        8.000000
Name: rc, dtype: float64

In [52]:
df['rc'].fillna(df['rc'].mean(), inplace=True)
df['rc'].isnull().sum()

0

htn

In [53]:
df['htn'].fillna(df['htn'].mode()[0] ,inplace=True)
df['htn'].isnull().sum()

0

Doing correnction in values of "dm"

In [54]:
df['dm'].value_counts()

no       258
yes      134
\tno       3
\tyes      2
 yes       1
Name: dm, dtype: int64

In [55]:
df['dm'] = df['dm'].replace('\tno' , 'no')
df['dm'] = df['dm'].replace(['\tyes',' yes'] , 'yes')

df['dm'].value_counts()

no     261
yes    137
Name: dm, dtype: int64

In [56]:
df['dm'].fillna(df['dm'].mode()[0], inplace=True)
df['dm'].isnull().sum()

0

column 'cad' we have to do corrections in valuesÂ¶

In [57]:
df['cad'].value_counts()

no      362
yes      34
\tno      2
Name: cad, dtype: int64

In [58]:
df['cad'] = df['cad'].replace('\tno', 'no')
df['cad'].value_counts()

no     364
yes     34
Name: cad, dtype: int64

In [59]:
df['cad'].fillna(df['cad'].mode()[0], inplace=True)
df['cad'].isnull().sum()

0

#appet

In [60]:
df['appet'].fillna(df['appet'].mode()[0], inplace=True)
df['appet'].isnull().sum()

0

#pe

In [61]:
df['pe'].fillna(df['pe'].mode()[0], inplace=True)
df['pe'].isnull().sum()

0

#ane

In [62]:
df['ane'].fillna(df['ane'].mode()[0], inplace=True)
df['ane'].isnull().sum()

0

# Final doing the preprocessing of classification

In [63]:
df['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [64]:
df['classification'] = df['classification'].replace('ckd\t', 'ckd')
df['classification'].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

In [65]:
df.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              400 non-null    int64
 1   age             400 non-null    float64
 2   bp              400 non-null    float64
 3   sg              400 non-null    float64
 4   al              400 non-null    float64
 5   su              400 non-null    float64
 6   rbc             400 non-null    object
 7   pc              400 non-null    object
 8   pcc             400 non-null    object
 9   ba              400 non-null    object
 10  bgr             400 non-null    float64
 11  bu              400 non-null    float64
 12  sc              400 non-null    float64
 13  sod             400 non-null    float64
 14  pot             400 non-null    float64
 15  hemo            400 non-null    float64
 16  pcv             400 non-null    float64
 17  wc              400 non-null    float64
 18  rc              400 non-null    float64
 19  htn             400 non-null    object
 20  dm              400 non-null    object
 21  cad             400 non-null    object
 22  appet           400 non-null    object
 23  pe              400 non-null    object
 24  ane             400 non-null    object
 25  classification  400 non-null    object
dtypes: float64(14), int64(1), object(11)
memory usage: 81.4+ KB

In [67]:
df.describe()

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,pcv,wc,rc
count,400.000000,400.000000,400.000000,400.000000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,199.500000,51.483376,76.575000,1.017408,0.90000,0.395000,145.062500,57.425722,3.072454,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
std,115.614301,16.974966,13.489785,0.005369,1.31313,1.040038,75.260774,49.285887,5.617490,9.204273,2.819783,2.716171,8.151081,2523.219976,0.840314
min,0.000000,2.000000,50.000000,1.005000,0.00000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000,9.000000,2200.000000,2.100000
25%,99.750000,42.000000,70.000000,1.015000,0.00000,0.000000,101.000000,27.000000,0.900000,135.000000,4.000000,10.875000,34.000000,6975.000000,4.500000
50%,199.500000,54.000000,80.000000,1.017408,0.00000,0.000000,121.000000,44.000000,1.400000,137.528754,4.627244,12.526437,38.884498,8406.122449,4.707435
75%,299.250000,64.000000,80.000000,1.020000,2.00000,0.000000,150.000000,61.750000,3.072454,141.000000,4.800000,14.625000,44.000000,9400.000000,5.100000
max,399.000000,90.000000,180.000000,1.025000,5.00000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000,54.000000,26400.000000,8.000000

In [68]:
df.to_csv("kidney_cleaned.csv")